* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(134, 117, 59);
  text-align: center;
}

.heading {
  font-size: 35px;
  color: antiquewhite;
  margin-top: 45px;
}

.form {
  margin-top: 35px;
}

.form-input,
.form-select {
  font-size: 18px;
  padding: 5px;
  margin-left: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-input:focus {
  outline: none;
}
.form-btn {
  height: 30px;
  width: 30px;
  font-size: 20px;
  user-select: none;
}
.datepicker {
  padding: 5px;
}
.todo-container {
  padding-top: 30px;
}
.todo-list {
  width: 700px;
  margin: 0 auto;
}
.todo {
  display: flex;
  margin: 5px;
}
.todo-item,
.deadline {
  list-style-type: none;
  flex: 2;
  border-radius: 15px;
}
.deadline {
  background-color: thistle;
  flex: 1;
  margin-right: 5px;
}
.todo-btn {
  margin: 0 5px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  user-select: none;
}
.white {
  background-color: #fff;
}
.green {
  background-color: rgb(201, 155, 87);
  text-decoration: line-through;
}
.yellowgreen {
  background-color: yellowgreen;
}
.fire {
  background-color: rgb(236, 120, 11);
}
.form-select {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 250px;
}
