* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(134, 117, 59);
  text-align: center;
}

.heading {
  font-size: 35px;
  color: antiquewhite;
  margin-top: 45px;
}

.form {
  margin-top: 35px;
}

.form-input {
  font-size: 18px;
  padding: 5px;
}
.form-input:focus {
  outline: none;
}
.form-btn {
  height: 30px;
  width: 30px;
  font-size: 20px;
  user-select: none;
}
.todo-container {
  padding-top: 30px;
}
.todo-list {
  width: 300px;
  margin: 0 auto;
}
.todo {
  display: flex;
  margin: 5px;
}
.todo-item {
  list-style-type: none;
  width: 80%;
  border-radius: 15px;
}
.done-btn {
  margin: 0 5px;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.delete-btn {
  border: none;
  padding: 5px;
  border-radius: 10px;
}
.white {
  background-color: #fff;
}
.green {
  background-color: rgb(201, 155, 87);
  text-decoration: line-through;
}
